<a style="cursor: pointer;"
[routerLink]="[index]"
routerLinkActive="active"
>
<mat-card>
  <mat-card-header>
    <mat-card-title>{{book.volumeInfo.title}}</mat-card-title>
    <img mat-card-sm-image src="{{book.volumeInfo.imageLinks.smallThumbnail}}" />
  </mat-card-header>
  <mat-card-content>
    <p>{{book.volumeInfo.description | truncate}}</p>
  </mat-card-content>
  <mat-card-footer style="text-align: left;">
    <b> Written By:</b>
    <p>{{book.volumeInfo.authors | authorTransform}}</p>
  </mat-card-footer>
</mat-card>
</a>
